# Update repository settings to match the definitions in .github/settings.yml.
---
name: Update Repo Settings

on:
  push:
    branches: [main]
  schedule:
    - cron: '5 4 * * *' # Every day at 04:05 UTC
  workflow_dispatch:

permissions: {}

jobs:
  update-repo-settings:
    name: Update Repository Settings
    secrets:
      APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
      APPLICATION_PRIVATE_KEY: ${{ secrets.APPLICATION_PRIVATE_KEY }}
    uses: bfra-me/.github/.github/workflows/update-repo-settings.yaml@91a3c6845c9193b3c29e019509010dfbd53cb6bf # v4.3.3
